*{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
}
body{
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
.outer-wrapper{
	margin: auto;
}
/*header styling*/
.header-wrapper{
	background-color: black;
	color: white;
	font-weight: 200px;
	font-size: .75em;
	/* position: sticky; */
	position: fixed;
	/* top: 0; */
	width: 100%;
}
.model{
	margin-top: 50px;
}
.header-wrapper ul{
	display: flex;
	/* -webkit-box-pack: justify; */
	justify-content: space-between;
}
.internal-wrapper{
	width: 980px;
	padding: 0 10px;
	margin: 0 auto;
}
.header-wrapper .header-links-wrapper ul li a{
	text-decoration: none;
	color: white;
}
.header-wrapper ul{
	list-style: none;
}
.header-wrapper .header-links-wrapper ul li{
	display: inline-block;
	padding: 14px 0 8px;
	height: 25px;
	opacity: 0.8;
}
.header-wrapper .header-links-wrapper ul li:hover{
	opacity: 1;
}
.logo-link, .search-link, .cart-link{
	width: 18px;
	display: block;
}
.header-wrapper .header-links-wrapper ul li.logo-link{
	padding: 12px 0 10px;
}
.header-wrapper .header-links-wrapper ul li.search-link{
	padding: 12px 0 8px;
}
.header-wrapper .header-links-wrapper ul li.cart-link{
	padding: 12px 0 10px;
}
/*main section*/
.main-highlight-wrapper{
	background: #fafafa;
	text-align: center;
	padding: 25px 0;
}
.links-wrapper ul{
	list-style: none;
}
.model{
	font-size: .85em;
}
.product-title{
	font-weight: 700;
	font-size: 50px;
}
.brief-describtion{
	font-size: 40px;
}
.links-wrapper{
	padding: 15px 0;
}
.links-wrapper ul li{
	display: inline-block;
	padding-right: 20px;
}
.links-wrapper a{
	color: #06c;
	text-decoration: none;
}
.links-wrapper a:hover{
	text-decoration: underline;
	color: #000;
}
.links-wrapper ul li a:after{
	font-family: "FontAwesome";
	font-weight: 900;
	content: "\f105";
	padding: 10px;
}
/* second section */
.second-highlight-wrapper{
	background-image: url("../images/home/iphone11-pro-bg.jpg");
	text-align: center;
	padding: 65px 20px;
	color: #f5f5f7;
	height: 580px;
	background-color: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.title-wrapper{
	font-weight: 600;
	font-size: 50px;
}
.describtion-wrapper{
	font-size: 26px;
	padding: 10px 0;
}
.price-wrapper{
	color: #86868b;
}
/* third section */
.third-highlight-wrapper{
	background-image: url("../images/home/iphone11-bg.jpg");
	text-align: center;
	padding: 65px 20px;
	height: 580px;
	background-color: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/* fourth section */
.fourth-highlight-wrapper{
	display: flex;
	justify-content: space-between;
	background: #ffff;
}

	.left-side-wrapper{
		height: 580px;
		text-align: center;
		width: 48.5%;
		padding: 54px;
		margin: 1% 0.5% 0% 1%;
		background-color: cover;
		background-position: center;background-repeat: no-repeat;
}
.fourth-highlight-wrapper .left-side-wrapper{
	background-image: url("../images/home/watch-series-5.jpg");
}

.right-side-wrapper{
	height: 580px;
	text-align: center;
	width: 48.5%;
	padding: 54px;
	margin: 1% 0.5% 0% 1%;
	background-color: cover;
	background-position: center;background-repeat: no-repeat;
}
.fourth-highlight-wrapper .right-side-wrapper{
background-image: url("../images/home/apple-card.jpg");
}

/* fith section*/
.fifth-highlight-wrapper{
	display: flex;
	justify-content: space-between;
	background: #ffff;
}
.fifth-highlight-wrapper .left-side-wrapper{
	background-image: url("../images/home/apple-tv-background.jpg");
	background-color: #fafafa;
}
.fifth-highlight-wrapper .right-side-wrapper{
background-image: url("../images/home/air-pods.jpg");
color: #fff;
background-size: initial;
background-color: #000;
background-position: bottom;
}
.logo-wrapper{
	font-size: 40px;
	font-weight: bold;
}
.tvshow-logo-wrapper{
	padding: 180px 0 200px;
}
.watch-more-wrapper a{
	text-decoration: none;
	font-size: 0.85em;
}
.watch-more-wrapper :after{
	font-family: "FontAwesome";
	font-weight: 900;
	content: "\f144";
	padding: 15px;
}

/* six section*/
.six-highlight-wrapper{
	display: flex;
	justify-content: space-between;
	background: #ffff;
}
.six-highlight-wrapper .left-side-wrapper{
	background-image: url("../images/home/mac-laptop.jpg");
	background-size: initial;
	background-color: #fafafa;
	background-position: bottom;
}
.left-side-wrapper{
	height: 580px;
	background-repeat: no-repeat;
	text-align: center;
	width: 48.5%;
	margin: 1% 0.5% 0% 1%;
	padding: 54px;
}
.model1{
	font-size: .85em;
}
.six-highlight-wrapper .right-side-wrapper{
background-image: url("../images/home/new-ipad.jpg");
}
.right-side-wrapper{
	height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	width: 48.5%;
	margin: 1% 0.5% 0% 1%;
	padding: 54px;
}
.product-title-small{
	font-weight: 700;
	font-size: 50px;
}
.logo-wrapper{
	font-size: 40px;
	font-weight: bold;
}
.tvshow-logo-wrapper{
	padding: 180px 0 200px;
}
.watch-more-wrapper a{
	text-decoration: none;
	font-size: 0.85em;
}
.watch-more-wrapper :after{
	font-family: "FontAwesome";
	font-weight: 900;
	content: "\f144";
	padding: 15px;
}
/*footer styling*/
.footer-wrapper{
	background-color: #f5f5f7;
	color: #1d1d1f;
	font-size: 0.65em;
}

.upper-text-container{
	border-bottom: 1px solid #d2d2d7;
	color: #86868b;
	padding: 17px 0 20px;
}
.upper-text-container a{
	text-decoration: none;
	color: #515154;
}
.upper-text-container a:hover{
	text-decoration: underline;
}
.footer-links-wrapper{
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 20px;
}
.footer-wrapper ul{
	list-style: none;
	padding-bottom: 20px;
}
.footer-wrapper ul li{
	font-size: 0.9em;
	padding: 5px 0;
}
.footer-links-wrapper a{
	color: #515154;
	text-decoration: none;
}
.footer-links-wrapper a:hover{
	text-decoration: underline;
}
.footer-links-wrapper h3{
	font-size: 12px;
	font-weight: 600;
}
.my-apple-wrapper{
	border-bottom: 1px solid #d2d2d7;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.my-apple-wrapper a{
	text-decoration: none;
}
.my-apple-wrapper a:hover{
	text-decoration: underline;
}
.copyright-wrapper{
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 10px 0 20px;
}
.footer-links-terms ul li{
	display: inline-block;
	padding: 0 5px;
	border-right: 1px solid #ccc;

}
/* helps to not border last child that means
after site mapping */
.footer-links-terms ul li:last-child{
	border-right: 0px;
}
.footer-links-terms ul li a{
	text-decoration: none;
	color: #515154;
}
.footer-links-terms ul li a:hover{
	text-decoration: underline;
}
.footer-country{
	display: flex;
}
.flag-wrapper{
	/* display: inline-block; */
	vertical-align: middle;
}
.footer-country-name{
	/* display: inline-block; */
	vertical-align: top;
}
.icon{
	color: red;
}
.icon > i{
	color: blue;
}